.blog {
  width: 60%;
  margin: 0 auto;
}

.display-picture, .about-me {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.about-me {
  width: calc(70vw - 13rem);
}

.display-picture {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  margin-right: 3rem;
}

@media (max-width: 650px) {
  .display-picture, .about-me {
    position: relative;
    display: block;
    vertical-align: top;
    margin: 0 auto;
  }

  .about-me {
    margin-top: 2em;
    width: 70vw;
  }
}