.header {
  text-transform: uppercase;
  width: 100vw;
  display: flex;
  height: 288px;
  flex-direction: column;
}

.links {
  border: 1px #EAEAEA solid;
  border-left: 0px;
  border-right: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  justify-content: center;
  display: flex;
  padding-top: 0.5em;
  width: 18em;
  margin: 0 auto;
}

.links a {
  padding: 1rem 1rem;
}

.links a:hover {
  border-top: #899dab solid 1px;
  border-bottom: #899dab solid 1px;
  color: #899dab;
}

.active-path {
  border-top: #899dab solid 1px;
  border-bottom: #899dab solid 1px;
  color: #899dab;
}