.footer {
  background-color: #EDF3F6;
  padding: 2rem 0;
  display: flex;
  height: 132px;
  flex-direction: column;
}

.social-links {
  text-transform: uppercase;
  justify-content: center;
  display: flex;
}

.social-links a {
  padding: 0 2rem;
}

.social-links i {
  padding: 0.5rem;
  border: black solid 1px;
  border-radius: 5rem;
  margin: 0 0.5rem;
}

.copyright {
  justify-content: center;
  display: flex;
  font-size: 12px;
}